.botonBase {
    border: none;
    padding: 0.8rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(12, 19, 225);
  }
  
  .botonBasesubs {
    border: none;
    padding: 0.8rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    background-color: rgb(225, 12, 12);
  }
  