$styles: (
  primaryColor: rgb(255, 255, 255),
  secondaryColor: rgb(0, 0, 0),
  backgroundHeader: linear-gradient(#00509D, #1A76BC, #1E91D0),
  backgroundNav: rgb(49, 46, 46),
  backgroundBody: rgb(237, 237, 237),
  backgroundH1:  rgb(165, 165, 165),
)