.boton {
  border-radius: 10px;

  color: rgb(144, 40, 192);

  @extend .botonBase;

  &:hover {
    background-color: rgb(11, 119, 227);
  }
}

.botonsubs {
  border-radius: 10px;
  color: rgb(227, 227, 227) !important;

  @extend %botonBase !optional;

  &:hover {
    background-color: rgb(227, 11, 11) !important;
  }
}

.subs {
  margin-bottom: 10px;
  text-align: center;
}