$styles: (
  primaryColor: rgb(12, 19, 225),
  secondaryColor: rgb(0, 0, 0),
  paddingUno: 10px,
  paddingDos: 10px,
  borderRadiusUno: 05px,
  borderRadiusDos: 07px,
  displayFlex: flex,
  flexColumn: column,
  flexRow: row,
);

$colores: (
  primaryColor: rgb(12, 19, 225),
  secondaryColor: rgb(0, 0, 0),
);
