@mixin display($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin botonsubs($borderColor, $textColor) {
  padding: 10px;
  background-color: rgb(225, 12, 12);
  color: white;
  border-radius: 05px;
  border-bottom: 03px solid $borderColor;
}

.boton2 {
  @include botonsubs(red, white )
}

@mixin sizes ($width, $height) {
  height: $height;
  width: $width;
}

.box {
  @include sizes(500px, 50px);
}